

# Global period constraint
NET "clk" TNM_NET = "clk_9e7e48f5";
TIMESPEC "TS_clk_9e7e48f5" = PERIOD "clk_9e7e48f5" 5.0 ns HIGH 50 %;

# Offset in constraints

# Offset out constraints

# Offset inout constraints

# LOC constraints
NET "clk" LOC = "d7hack";
