# Ignore files
*~
/*.autosave
/*.log

# Ignore all files in *_core directories
/*_core/*
# Then UN-ignore the FOO_core/FOO_core.ngc files
!/coarse_delay_core/coarse_delay_core.ngc
!/fft_wideband_real_core/fft_wideband_real_core.ngc
!/pfb_fir_real_core/pfb_fir_real_core.ngc
!/xeng_core/xeng_core.ngc

# Ignore all files in eovsa_corr directory...
/eovsa_corr/*
# ...then UN-ignore eovsa_corr/bit_files directory...
!/eovsa_corr/bit_files
# ...then ignore all files in eovsa_corr/bit_files directory...
/eovsa_corr/bit_files/*
# ...then UN-ignore eovsa_corr/bit_files/*.bof.gz files.
!/eovsa_corr/bit_files/*.bof.gz
# ...also UN-ignore eovsa_corr/ucf directory...
!/eovsa_corr/ucf

# Ignore all files in eovsa_fx_snoop directory...
/eovsa_fx_snoop/*
# ...then UN-ignore eovsa_fx_snoop/bit_files directory...
!/eovsa_fx_snoop/bit_files
# ...then ignore all files in eovsa_fx_snoop/bit_files directory...
/eovsa_fx_snoop/bit_files/*
# ...then UN-ignore eovsa_fx_snoop/bit_files/*.bof.gz files.
!/eovsa_fx_snoop/bit_files/*.bof.gz

# Ignore all files in eovsa_corr directory...
/eovsa_corr_300mhz/*
# ...then UN-ignore eovsa_corr_300mhz/bit_files directory...
!/eovsa_corr_300mhz/bit_files
# ...then ignore all files in eovsa_corr_300mhz/bit_files directory...
/eovsa_corr_300mhz/bit_files/*
# ...then UN-ignore eovsa_corr_300mhz/bit_files/*.bof.gz files.
!/eovsa_corr_300mhz/bit_files/*.bof.gz
