# PlanAhead Generated physical constraints 

AREA_GROUP "biplex_core_pblock" RANGE=CLOCKREGION_X0Y4:CLOCKREGION_X0Y6;
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/pfb_fft_f26129f62c/fft_wideband_real/fft_wideband_real1_35f3f79cd7/fft_biplex_real_4x_73d6afc5b4/biplex_core_9360c04954" AREA_GROUP = "biplex_core_pblock";

AREA_GROUP "fft_direct_pblock" RANGE=CLOCKREGION_X0Y2:CLOCKREGION_X0Y3;
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/pfb_fft_f26129f62c/fft_wideband_real/fft_wideband_real1_35f3f79cd7/fft_biplex_real_4x_73d6afc5b4/bi_real_unscr_4x_0fc4d6e073" AREA_GROUP = "fft_direct_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/pfb_fft_f26129f62c/fft_wideband_real/fft_wideband_real1_35f3f79cd7/fft_direct_b0b762bfca" AREA_GROUP = "fft_direct_pblock";

AREA_GROUP "packetizer_x_pblock" RANGE=CLOCKREGION_X0Y7:CLOCKREGION_X1Y8;
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/xeng*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/packetizer_x*" AREA_GROUP = "packetizer_x_pblock";
# These delays follow the xeng blocks which currently have BRAMs with
# insufficient latency on its outputs.  The following constraints are intended
# to keep these delays somewhat closer to the xeng blocks.  Commented out lines
# correspond to delay blocks that get optimized away or absorbed into other
# logic.
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay21/*"  AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay28/*"  AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay38/*"  AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay112/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay115/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay118/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay307/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay310/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay313/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay434/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay435/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay436/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay442/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay443/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay444/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay445/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay471/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay472/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay473/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay474/*" AREA_GROUP = "packetizer_x_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay475/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay476/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay515/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay516/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay517/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay518/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay519/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay520/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay521/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay522/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay523/*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/Delay524/*" AREA_GROUP = "packetizer_x_pblock";

# polarimetry is pretty huge
AREA_GROUP "clkreg_x1y0_x1y1_pblock" RANGE=CLOCKREGION_X1Y0:CLOCKREGION_X1Y1;
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/polarimetry_*" AREA_GROUP = "clkreg_x1y0_x1y1_pblock";

# power_cal is not so big
AREA_GROUP "clkreg_x1y2_pblock" RANGE=CLOCKREGION_X1Y2:CLOCKREGION_X1Y2;
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/power_cal_*" AREA_GROUP = "clkreg_x1y2_pblock";

# vector_acc uses lots of BRAM
AREA_GROUP "clkreg_x1y3_x1y4_pblock" RANGE=CLOCKREGION_X1Y3:CLOCKREGION_X1Y4;
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/vector_acc*" AREA_GROUP = "clkreg_x1y3_x1y4_pblock";
# Throw these in with vector_acc
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/acc_sync_*" AREA_GROUP = "clkreg_x1y3_x1y4_pblock";
INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/fifo2/*" AREA_GROUP = "clkreg_x1y3_x1y4_pblock";

#AREA_GROUP "clkreg_x1y6_pblock" RANGE=CLOCKREGION_X1Y6:CLOCKREGION_X1Y6;
#INST "*sys_block_inst/*" AREA_GROUP = "clkreg_x1y6_pblock";
#INST "*qdr?_sniffer/*"   AREA_GROUP = "clkreg_x1y6_pblock";
