
#AREA_GROUP "packetizer_x_pblock" RANGE=CLOCKREGION_X0Y7:CLOCKREGION_X1Y8;
##INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/xeng*" AREA_GROUP = "packetizer_x_pblock";
#INST "eovsa_corr_XSG_core_config/eovsa_corr_XSG_core_config/eovsa_corr_x0/packetizer_x*" AREA_GROUP = "packetizer_x_pblock";
#

#AREA_GROUP "clkreg_x1y6_pblock" RANGE=CLOCKREGION_X1Y6:CLOCKREGION_X1Y6;
#INST "*sys_block_inst/*" AREA_GROUP = "clkreg_x1y6_pblock";
#INST "*qdr?_sniffer/*"   AREA_GROUP = "clkreg_x1y6_pblock";

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/coarse_delay*.ram" AREA_GROUP = "coarse_delay_ram";
AREA_GROUP "coarse_delay_ram" RANGE=RAMB18_X0Y112:RAMB18_X1Y143;
AREA_GROUP "coarse_delay_ram" RANGE=RAMB36_X0Y56:RAMB36_X1Y71;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/pfb_fft_??????????/pfb_fir_real/pfb_fir_??????????/pol?_in?_first_tap_??????????/*" AREA_GROUP = "fir_tap0";
AREA_GROUP "fir_tap0" RANGE=DSP48_X2Y112:DSP48_X2Y143;
AREA_GROUP "fir_tap0" RANGE=RAMB18_X2Y112:RAMB18_X2Y143;
AREA_GROUP "fir_tap0" RANGE=RAMB36_X2Y56:RAMB36_X2Y71;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/pfb_fft_??????????/pfb_fir_real/pfb_fir_??????????/pol?_in?_tap2_??????????/*" AREA_GROUP = "fir_tap1";
AREA_GROUP "fir_tap1" RANGE=DSP48_X3Y112:DSP48_X3Y143;
AREA_GROUP "fir_tap1" RANGE=RAMB18_X3Y112:RAMB18_X3Y143;
AREA_GROUP "fir_tap1" RANGE=RAMB36_X3Y56:RAMB36_X3Y71;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/pfb_fft_??????????/pfb_fir_real/pfb_fir_??????????/pol?_in?_tap3_??????????/*" AREA_GROUP = "fir_tap2";
AREA_GROUP "fir_tap2" RANGE=DSP48_X4Y112:DSP48_X4Y143;
AREA_GROUP "fir_tap2" RANGE=RAMB18_X4Y112:RAMB18_X4Y143;
AREA_GROUP "fir_tap2" RANGE=RAMB36_X4Y56:RAMB36_X4Y71;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/pfb_fft_??????????/pfb_fir_real/pfb_fir_??????????/pol?_in?_last_tap_??????????/*" AREA_GROUP = "fir_tap3";
AREA_GROUP "fir_tap3" RANGE=DSP48_X5Y112:DSP48_X6Y143;
AREA_GROUP "fir_tap3" RANGE=RAMB18_X5Y112:RAMB18_X5Y143;
AREA_GROUP "fir_tap3" RANGE=RAMB36_X5Y56:RAMB36_X5Y71;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/xeng_hdl_uint_*" AREA_GROUP = "xeng_core";
INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/xeng0_vacc*" AREA_GROUP = "xeng_core";
AREA_GROUP "xeng_core" RANGE=DSP48_X7Y100:DSP48_X13Y141;
AREA_GROUP "xeng_core" RANGE=RAMB18_X7Y100:RAMB18_X13Y141;
AREA_GROUP "xeng_core" RANGE=RAMB36_X7Y50:RAMB36_X13Y70;
AREA_GROUP "xeng_core" RANGE=SLICE_X116Y240:SLICE_X209Y359;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/pfb_fft_*/bi_real_unscr_4x_*" AREA_GROUP = "fft_biplex";
INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/pfb_fft_*/biplex_core_*" AREA_GROUP = "fft_biplex";
AREA_GROUP "fft_biplex" RANGE=DSP48_X0Y24:DSP48_X6Y87;
AREA_GROUP "fft_biplex" RANGE=RAMB18_X0Y24:RAMB18_X6Y87;
AREA_GROUP "fft_biplex" RANGE=RAMB36_X0Y12:RAMB36_X6Y43;
INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/pfb_fft_*/fft_direct_*" AREA_GROUP = "fft_direct";
AREA_GROUP "fft_direct" RANGE=DSP48_X0Y0:DSP48_X6Y23;
AREA_GROUP "fft_direct" RANGE=RAMB18_X0Y0:RAMB18_X6Y23;
AREA_GROUP "fft_direct" RANGE=RAMB36_X0Y0:RAMB36_X6Y11;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/power_cal_*" AREA_GROUP = "post_fft";

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/vector_acc_*" AREA_GROUP = "post_fft";

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/packetizer_p*" AREA_GROUP = "post_fft";

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/f_x_??????????/x_eng_reorder*" AREA_GROUP = "post_fft";

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/f_x_??????????/ct_*" AREA_GROUP = "post_fft";
INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/eq*" AREA_GROUP = "post_fft";

AREA_GROUP "post_fft" RANGE=DSP48_X7Y0:DSP48_X13Y63;
AREA_GROUP "post_fft" RANGE=RAMB18_X7Y0:RAMB18_X14Y63;
AREA_GROUP "post_fft" RANGE=RAMB36_X7Y0:RAMB36_X14Y31;
#AREA_GROUP "post_fft" RANGE=SLICE_X116Y0:SLICE_X209Y157;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/packet_buffer*" AREA_GROUP = "packet_buffer";
AREA_GROUP "packet_buffer" RANGE=DSP48_X7Y64:DSP48_X13Y97;
AREA_GROUP "packet_buffer" RANGE=RAMB18_X8Y64:RAMB18_X13Y97;
AREA_GROUP "packet_buffer" RANGE=RAMB36_X8Y32:RAMB36_X13Y48;

INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/pfb_fft_??????????/power_td*" AREA_GROUP = "post_fir";
INST "eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_XSG_core_config/eovsa_corr_300mhz_x0/auto_shutoff*" AREA_GROUP = "post_fir";
#AREA_GROUP "post_fir" RANGE=SLICE_X0Y220:SLICE_X81Y279;
AREA_GROUP "post_fir" RANGE=DSP48_X0Y88:DSP48_X6Y111;
AREA_GROUP "post_fir" RANGE=RAMB18_X0Y88:RAMB18_X6Y111;
AREA_GROUP "post_fir" RANGE=RAMB36_X0Y44:RAMB36_X6Y55;

# TGE receive buffers

INST "eovsa_corr_300mhz_Rx_Tx_FX1/eovsa_corr_300mhz_Rx_Tx_FX1/tge_rx_inst/use_bram.rx_packet_fifo_bram_inst/BU2/U0/grf.rf/mem/gbm.gbmg.gbmga.ngecc.bmg/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" AREA_GROUP = "rx_tx1";
INST "eovsa_corr_300mhz_Rx_Tx_FX1/eovsa_corr_300mhz_Rx_Tx_FX1/tge_rx_inst/use_bram.rx_packet_fifo_bram_inst/BU2/U0/grf.rf/mem/gbm.gbmg.gbmga.ngecc.bmg/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" AREA_GROUP = "rx_tx1";
INST "eovsa_corr_300mhz_Rx_Tx_FX1/eovsa_corr_300mhz_Rx_Tx_FX1/tge_rx_inst/use_bram.rx_packet_fifo_bram_inst/BU2/U0/grf.rf/mem/dout_i_*" AREA_GROUP = "rx_tx1";
AREA_GROUP "rx_tx1" RANGE=SLICE_X170Y245:SLICE_X181Y259;
AREA_GROUP "rx_tx1" RANGE=RAMB18_X11Y98:RAMB18_X12Y103;
AREA_GROUP "rx_tx1" RANGE=RAMB36_X11Y49:RAMB36_X12Y51;

INST "eovsa_corr_300mhz_Rx_Tx_FX0/eovsa_corr_300mhz_Rx_Tx_FX0/tge_rx_inst/use_bram.rx_packet_fifo_bram_inst/BU2/U0/grf.rf/mem/gbm.gbmg.gbmga.ngecc.bmg/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" AREA_GROUP = "rx_tx0";
INST "eovsa_corr_300mhz_Rx_Tx_FX0/eovsa_corr_300mhz_Rx_Tx_FX0/tge_rx_inst/use_bram.rx_packet_fifo_bram_inst/BU2/U0/grf.rf/mem/gbm.gbmg.gbmga.ngecc.bmg/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" AREA_GROUP = "rx_tx0";
INST "eovsa_corr_300mhz_Rx_Tx_FX0/eovsa_corr_300mhz_Rx_Tx_FX0/tge_rx_inst/use_bram.rx_packet_fifo_bram_inst/BU2/U0/grf.rf/mem/dout_i_*" AREA_GROUP = "rx_tx0";
AREA_GROUP "rx_tx0" RANGE=SLICE_X170Y265:SLICE_X181Y279;
AREA_GROUP "rx_tx0" RANGE=RAMB18_X11Y106:RAMB18_X12Y111;
AREA_GROUP "rx_tx0" RANGE=RAMB36_X11Y53:RAMB36_X12Y55;
